*.cache
/AutoUpdater/obj/
*.iml
*.idea/
*.vs/
*.user
*.zip
*.dll

/AutoUpdater/.idea/
/AutoUpdater/bin/
/BossSlothsCards.sln.DotSettings.user

/packages/
/BossSlothsCards/bin/
/BossSlothsCards/obj/
/BossSlothsCards/AssetsEmbedded/AssetsEmbedded
/BossSlothsCards/AssetsEmbedded/AssetsEmbedded.manifest
/BossSlothsCards/AssetsEmbedded/bossslothsart.manifest
/BossSlothsCards/AssetsEmbedded/bossslothseffects.manifest
/BossSlothsCards/AssetsEmbedded/customlevel.manifest
/BossSlothsCards/AssetsEmbedded/CustomMaps.unitypackage
/ThunderStore/BossSlothsCards.zip

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
