# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ActualRoundsMod.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Software developer\Rounds\ActualRoundsMod\.idea\.idea.ActualRoundsMod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
